{% extends 'base.html' %}

{% block content %}

<h1>
    JS-PY TRANSLATOR!
</h1>
<h2>
    by Cassius Naylor
</h2>

<body>

Type your code here:
<form method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="user_input">
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<br>
<br>

ChatGPT says:
<br>
<br>
{% if response %}
    <div>
        <pre><code>
        {{ response|safe }}
        </code></pre>
    </div>
{% endif %}

</body>

{% endblock content %}